.hero {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 150px;
	width: 100%;
	height: 80vh;

	font-weight: bold;
	color: honeydew;

	h1 {
		position: relative;
		background-color: rgba($color: darkslateblue, $alpha: 0.4);
		border-radius: 9999px;
		padding: 2px 35px 2px 15px;
		width: fit-content;

		svg {
			position: absolute;
			top: -15px;
			right: -15px;
			font-size: 40px;
		}
	}

	p {
		font-size: 20px;
		width: 25em;
	}
}

.hero_image {
	display: flex;
	position: relative;
	overflow: hidden;
	background-image: linear-gradient(to right, #544a7d, #d84747);
	width: 400px;
	aspect-ratio: 1;
	transform: rotate(45deg);

	// &::before {
	// 	position: absolute;
	// 	transform: rotate(45deg) translateY(-50%);
	// 	content: "";
	// }
}

.hero_image_inner {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 100%;
	transform: rotate(-45deg);
}

.bubble {
	width: 16em;
	padding: 10px;
	background-color: #313131;
	border-radius: 7px;
	font-weight: 100;

	&:nth-child(even) {
		&::before {
			// content: url(/images/phineas.png);
			background-image: url("/images/phineas.png");
			background-size: contain;
			width: 25px;
			aspect-ratio: 1;
		}
		text-align: right;
	}
}

.gradient_text {
	background: #3494e6;
	background: linear-gradient(to right, #3da5ff, #ff7abc);
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.avatar {
	position: absolute;
	top: 10px;
	right: 10px;
	border-radius: 999px;
	border: solid 3px dodgerblue;
}

.sign_in {
	border-radius: 9999px;
	border: none;
	cursor: pointer;
	font-size: 25px;
	padding: 10px 25px;
	transition: all 0.75s, box-shadow 350ms;
	letter-spacing: 1px;
	text-transform: uppercase;
	background: #544a7d;
	background-size: 200% auto;
	color: white;
	background-image: linear-gradient(to right, #544a7d, #d84747);
	box-shadow: 0 0 10px #3131315b;

	&:hover {
		background-position: right center;
		box-shadow: 0 0 10px #313131;
	}
}
