.wish {
	position: relative;
	display: flex;
	flex-direction: row;
	gap: 10px;
	align-items: center;
	flex-shrink: 0;
	background-color: lighten($color: lightblue, $amount: 5);
	border-radius: 7px;
	padding: 20px;
	list-style: none;
	user-select: none;

	> svg {
		width: 25px;
		height: 25px;
		fill: lighten($color: black, $amount: 25);
		transform: rotate(90deg);
		cursor: grab;
	}

	button {
		display: grid;
		cursor: pointer;
		place-content: center;
		border: none;
		color: green;
		background-color: lightgreen;
		filter: drop-shadow(0 0 2px black);
		border-radius: 999px;
		width: 30px;
		height: 30px;
		transition: background-color 300ms, color 300ms;

		&:hover {
			background-color: lightgreen;
			color: green;
		}
	}
}
